@model HtmlInputs.Models.Changes
@{
    ViewBag.Title = "Добавить изменение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Добавить изменение</h2>
    @if (ViewBag.Message != null)
    {
        <label style="color:green">@ViewBag.Message</label>
    }
    <script type="text/javascript">
            var timer = setTimeout(function () {
                    var element = document.getElementById("ToHide");
                    element.classList.add("Hidden");
                    clearTimeout(timer);
                }, 1500);
    </script>
    @using (Html.BeginForm())
    {
        <label>Содержание</label><br />
        @Html.TextAreaFor(a => a.Content, new { @cols = "52", @rows = "4" })<br />
        <input type="submit" value="Опубликовать" />
    }
</div>
<div class="miss-buttons">
    <a href="~/Profile/Methodist">
        <input type="button" value="Назад" />
    </a>
</div>