@model HtmlInputs.Models.Changes
@{
    ViewBag.Title = "Добавить изменение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>Добавить изменение</h1>
    @if (ViewBag.Message != null)
    {
        <div style="color:green;" id="ToHide">
            @ViewBag.Message
        </div>
        <script type="text/javascript">
            var timer = setTimeout(function () {
                var element = document.getElementById("ToHide");
                element.classList.add("Hidden");
                clearTimeout(timer);
            }, 1500);
        </script>
    }
    @using (Html.BeginForm())
    {
        <label>Содержание</label><br />
        @Html.TextAreaFor(a => a.Content, new { @cols = "52", @rows = "4" })<br />
        <input type="submit" value="Опубликовать" />
    }
</div>
<div class="miss-buttons">
    <a href="~/Profile/ChangesForMethodist">
        <input type="button" value="Назад" />
    </a>
</div>