@{
    ViewBag.Title = "Изменения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <h2>Изменения</h2>
    @{
        int hasChan = 0;
        foreach (HtmlInputs.Models.Changes item in ViewBag.chan)
        {
            if (item.UserId.ToString().Equals(Session["LogedUserId"].ToString()))
            {
                hasChan = 1;
                <div class="news-item">
                    <p>@item.Content</p>
                    <p class="date">@item.Date.ToShortDateString()</p>
                </div>
            }
        }
        if (hasChan == 0)
        {
            <p>Изменений в ближайшее время не наблюдается</p>
        }
    }
</div>
