@{
    ViewBag.Title = "Группа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>@Session["NumCourse"].ToString()-й курс</h2>
    @{
        
    if(Session["LogedUserRole"].ToString().Equals("5"))
    { 
        <a href="~/Profile/GroupOne" class="choose-buttons">1-я группа</a>
        <a href="~/Profile/GroupTwo" class="choose-buttons">2-я группа</a>
        <a href="~/Profile/GroupThree" class="choose-buttons">3-я группа</a>
    }
    else
    {
        <a href="~/Profile/GroupOneMethodist" class="choose-buttons">1-я группа</a>
        <a href="~/Profile/GroupTwoMethodist" class="choose-buttons">2-я группа</a>
        <a href="~/Profile/GroupThreeMethodist" class="choose-buttons">3-я группа</a>
    }
}
</div>
<div class="miss-buttons">
    @if(Session["LogedUserRole"].ToString().Equals("5"))
    { 
        <a href="~/Profile/MissForZDean"><input type="button" value="Назад" /></a>
    }
    else
    {
        <a href="~/Profile/MethodistStudents"><input type="button" value="Назад" /></a>
    }
</div>