@{
    ViewBag.Title = "Список групп";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HtmlInputs.Models.DiplomEntities5 dc = new HtmlInputs.Models.DiplomEntities5();
    int numGroupOne = 0;
    int numGroupTwo = 0;
    int numGroupThree = 0;
}

<div class="content">
    <h2>@Session["CourseApp"].ToString()-й курс</h2>
            <a href="~/Profile/GroupOneApp" class="choose-buttons">1-я группа
                @{foreach (HtmlInputs.Models.Applications item in dc.Applications)
                {
                    if (item.isRead == 0 && item.Users.Group == 1)
                    {
                        numGroupOne++;
                    }
                }
                if (numGroupOne != 0)
                {
                    <span>(@numGroupOne)</span>
                }
                }</a>
            <a href="~/Profile/GroupTwoApp" class="choose-buttons">2-я группа
                @{foreach (HtmlInputs.Models.Applications item in dc.Applications)
                {
                    if (item.isRead == 0 && item.Users.Group == 2)
                    {
                        numGroupTwo++;
                    }
                }
                if (numGroupTwo != 0)
                {
                    <span>(@numGroupTwo)</span>
                }
                }</a>
            <a href="~/Profile/GroupThreeApp" class="choose-buttons">3-я группа
                @{foreach (HtmlInputs.Models.Applications item in dc.Applications)
                {
                    if (item.isRead == 0 && item.Users.Group == 3)
                    {
                        numGroupThree++;
                    }
                }
                if (numGroupThree != 0)
                {
                    <span>(@numGroupThree)</span>
                }
                }</a>
                
</div>
<div class="miss-buttons">
    <a href="~/Profile/ApplianceForZDean"><input type="button" value="Назад" /></a>
</div>
