@{
    ViewBag.Title = "Курс";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HtmlInputs.Models.DiplomEntities5 dc = new HtmlInputs.Models.DiplomEntities5();
    int numCourseOne = 0;
    int numCourseTwo = 0;
    int numCourseThree = 0;
    int numCourseFour = 0;
}

<div class="content">
    <h2>Студенты</h2>
    <a class="choose-buttons" href="~/Profile/CourseOneMess">
        1 курс
        @{
            foreach (HtmlInputs.Models.Messages item in dc.Messages)
            {
                if (item.isRead == 0 && 
                    item.Users.Course == 1 &&
                    item.ReceiverId == Convert.ToInt32(Session["LogedUserId"]))
                {
                    numCourseOne++;
                }
            }
            if (numCourseOne != 0)
            {
                <span>(@numCourseOne)</span>
            }
        }
    </a>
    <a class="choose-buttons" href="~/Profile/CourseTwoMess">
        2 курс
        @{
            foreach (HtmlInputs.Models.Messages item in dc.Messages)
            {
                if (item.isRead == 0 && 
                    item.Users.Course == 2 &&
                    item.ReceiverId == Convert.ToInt32(Session["LogedUserId"]))
                {
                    numCourseTwo++;
                }
            }
            if (numCourseTwo != 0)
            {
                <span>(@numCourseTwo)</span>
            }
        }
    </a>
    <a class="choose-buttons" href="~/Profile/CourseThreeMess">
        3 курс
        @{
            foreach (HtmlInputs.Models.Messages item in dc.Messages)
            {
                if (item.isRead == 0 &&
                    item.Users.Course == 3 &&
                    item.ReceiverId == Convert.ToInt32(Session["LogedUserId"]))
                {
                    numCourseThree++;
                }
            }
            if (numCourseThree != 0)
            {
                <span>(@numCourseThree)</span>
            }
        }
    </a>
    <a class="choose-buttons" href="~/Profile/CourseFourMess">
        4 курс
        @{
            foreach (HtmlInputs.Models.Messages item in dc.Messages)
            {
                if (item.isRead == 0 &&
                    item.Users.Course == 4 &&
                    item.ReceiverId == Convert.ToInt32(Session["LogedUserId"]))
                {
                    numCourseFour++;
                }
            }
            if (numCourseFour != 0)
            {
                <span>(@numCourseFour)</span>
            }
        }
    </a>
</div>
<div class="miss-buttons">
    <a href="~/Profile/WhomToMessage"><input type="button" value="Назад" /></a>
</div>
