@{
    ViewBag.Title = "Личный кабинет";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="content">
    @if (ViewBag.Message != null)
    {
        <div style="color:green;" id="ToHide">
            @ViewBag.Message
        </div>
        <script type="text/javascript">
            var timer = setTimeout(function () {
                var element = document.getElementById("ToHide");
                element.classList.add("Hidden");
                clearTimeout(timer);
            }, 1500);
        </script>
    }
    @foreach (HtmlInputs.Models.News item in ViewBag.news)
    {
        <div class="news-item">
            <h1>@item.Title</h1>
            <p>@item.Content</p>
            <p class="date">@item.Date.ToShortDateString()</p>
        </div>
    }
</div>
<div class="miss-buttons">
    <a href="~/Profile/AddNews"><input type="button" value="Добавить" /></a>
    <a href="~/Profile/EditNews"><input type="button" value="Изменить" /></a>
</div>