@{
    ViewBag.Title = "Курс";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Студенты</h2>
    <a class="choose-buttons" href="~/Profile/CourseOne">1 курс</a>
    <a class="choose-buttons" href="~/Profile/CourseTwo">2 курс</a>
    <a class="choose-buttons" href="~/Profile/CourseThree">3 курс</a>
    <a class="choose-buttons" href="~/Profile/CourseFour">4 курс</a>
</div>
