@{
    ViewBag.Title = "MissForZDean";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <a class="courses" href="~/Profile/CourseOne">1 курс</a>
    <a class="courses" href="~/Profile/CourseTwo">2 курс</a>
    <a class="courses" href="~/Profile/CourseThree">3 курс</a>
    <a class="courses" href="~/Profile/CourseFour">4 курс</a>
</div>
