@{
    ViewBag.Title = "Статистика";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>Статистика по месяцам</h1>
    @{
        if (Session["LogedUserRole"].ToString().Equals("2") ||
            Session["LogedUserRole"].ToString().Equals("3"))
        {
            <img src="@Url.Action("getMonthStatistics")" />
        }
        if (Session["LogedUserRole"].ToString().Equals("5") ||
            Session["LogedUserRole"].ToString().Equals("6"))
        {
            <img src="@Url.Action("getlMonthStatisticsForDean")" />
        }
        if (Session["LogedUserRole"].ToString().Equals("1"))
        {
            <img src="@Url.Action("getPersonalMonthStatistics")" />
        }
}
    
</div>
<div class="miss-buttons">
    @if (Session["LogedUserRole"].ToString().Equals("1"))
    {
        <a href="~/Profile/MonthReportForStudent">
            <input type="button" value="Назад" />
        </a>
    }
    @if(Session["LogedUserRole"].ToString().Equals("2"))
    { 
    <a href="~/Profile/MonthReportForPraepostor">
        <input type="button" value="Назад" />
    </a>
    }
    @if (Session["LogedUserRole"].ToString().Equals("3"))
    {
        <a href="~/Profile/MonthReportForModerator">
            <input type="button" value="Назад" />
        </a>
    }
    @if (Session["LogedUserRole"].ToString().Equals("5"))
    {
        <a href="~/Profile/MonthReportForZDean">
            <input type="button" value="Назад" />
        </a>
    }
</div>