@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/Index_Layout.cshtml";
}

<nav class="header">
    <div class="header-content">Регистрация</div>
</nav>

<div class ="choose-form">
    <h2>Выберите свою категорию</h2>
    <a href="~/Home/Register" class="choose-buttons">
        Студент
    </a>
    <a href="~/Home/RegisterModerator" class="choose-buttons">
        Куратор
    </a>
    <a href="~/Home/RegisterMethodist" class="choose-buttons">
        Методист
    </a>
    <a href="~/Home/RegisterZDean" class="choose-buttons">
        Зам. декана
    </a>
    <a href="~/Home/RegisterDean" class="choose-buttons">
        Декан
    </a>
</div>